:root {
  --text-color: #{$black};
  --page-bg: #{$pale-blue};
  --icon-color: #{$purple};
  --btn-color: #{$pink};
  --component-bg: #{$white};
  --element-color: #{$light-pink};
  --text-color-contrast: #{$white};
}

[data-theme="light"] {
  --text-color: #{$black};
  --page-bg: #{$pale-blue};
  --icon-color: #{$purple};
  --btn-color: #{$pink};
  --component-bg: #{$white};
  --element-color: #{$light-pink};
  --text-color-contrast: #{$white};
}

[data-theme="dark"] {
  --text-color: #{$pale-blue};
  --page-bg: #{$dark-purple};
  --icon-color: #{$light-purple};
  --btn-color: #{$light-blue};
  --component-bg: #{$black};
  --element-color: #{$purple};
  --text-color-contrast: #{$pale-blue};
}

@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-VariableFont_wght.woff2');
}

@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-VariableFont_wght.woff2');
}

body {
  background-color: var(--page-bg);
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p, a, span, li {
  color: var(--text-color);
  font-family: "Work Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend", sans-serif;
  color: var(--text-color);
}
