// colors
$black: #060606;
$dark: #312F49;
$pale-blue: #E2F0FA;
$white: #ffffff;
$light-pink: #FFDCE8;
$pink: #CE6B90;
$dark-purple: #312F49;
$purple: #52568E;
$light-purple: #AFB5F9;
$light-blue: #91C6EC;

// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;

// fonts
$font-size-base: clamp(1.125rem, 1.1035rem + 0.0915vw, 1.25rem);
$font-size-small: clamp(1rem, 0.9785rem + 0.0915vw, 1.125rem);
$font-size-smallest: clamp(0.75rem, 0.7285rem + 0.0915vw, 0.875rem);
$font-size-big: clamp(1.375rem, 1.3321rem + 0.1831vw, 1.625rem);
$font-size-biggest: clamp(1.75rem, 1.7071rem + 0.1831vw, 2rem);

$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 500;
$font-weight-bolder: 600;

// spacing
$text-padding-mobile: 2rem;
$text-padding-desktop: 3rem;
$spacer: 1rem;
$max-content-with-mobile: 30rem;
$max-content-with-desktop: 70rem;

// other
$base-transition: .3s ease-in;
$border-radius-mobile: 1.5rem;
